.skill-level {
  display: inline-flex;
}

.skill-level button {
  background-color: #3399FF;
  border: none;
}

.title {
  text-align: center;
}

.new-skills {
  padding-top: 30px;
}

.major-buttons {
  padding-top: 10px;
}

.btn {
  margin-right: 5px;
}
